{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <style>
    {#TODO: the styles are not applying when they are moved away so thats why they are here #}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2EwMDItaXN3YW50b2EtNTAuanBn.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            margin-top: 20px; /* Adjust margin to create space between navbar and form */
            position: relative; /* Position the container relatively */
        }

        #room-form h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
        }

        .e-navlist {
            background-color: #f8f8f8;
            border-radius: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            position: absolute;
            top: 20px;
            right: 500px; /* Position the nav list to the right */
            margin-top: 20px; /* Adjust margin to create space */
        }

        .e-navlist ul.nav {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .e-navlist ul.nav li.nav-item {
            margin-bottom: 10px;
        }

        .e-navlist ul.nav li.nav-item a.nav-link {
            display: block;
            padding: 10px 20px;
            background-color: #fff;
            color: #1e62d8;
            border-radius: 20px;
            transition: all 0.3s ease;
        }

        .e-navlist ul.nav li.nav-item a.nav-link:hover {
            background-color: #1e62d8;
            color: #fff;
        }
    </style>
{% endblock %}

{% block index_content %}
    <body>
        <div class="container">
            <form id="room-form" action="{% url 'add_room' %}" method="post">
                <h1>Create Offer</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
            <div class="e-navlist e-navlist--active-bg">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'choose_hotel' %}"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Add Image</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="{% url 'choose_hotel_list' %}"><i class="fa fa-fw fa-th mr-1"></i><span>Edit Rooms</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="#" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Add Picture</span></a></li>
                </ul>
            </div>
        </div>
    </body>
{% endblock %}
