{% extends 'base.html' %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/rooms/pictures_list.css' %}" >
<link type="text/css" rel="stylesheet" href="{% static 'css/rooms/pictures_list_2.css' %}" >


{% endblock %}

{% block index_content %}
<body>
    <div class="container room-container">
        <h1>Room Pictures</h1>

        <ul class="picture-list">
            {% for picture in object_list %}
                <li class="picture-item">
                    <div class="picture-card">
                        <img src="{{ picture.image }}" alt="Room Picture" class="room-picture">
                        <div class="picture-details">
                            <p><strong>Room:</strong> {{ picture.room }}</p>
                            <!-- Add any other picture details here -->
                            {% if is_owner %}
                            <form action="{% url 'delete_picture' pk=picture.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% empty %}

                <h2>No pictures available for this room</h2>
            {% endfor %}
        </ul>
            {% if hotel_id%}
            <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        {% if is_owner %}
                        <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'room_list' pk=hotel_id %}"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Rooms List</span></a></li>
                        {% endif %}
                            <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'details_hotel' pk=hotel_id %}?search={{ search_query }}&check_in={{ check_in_date }}&check_out={{ check_out_date }}&adults={{ adults }}"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Hotel Details</span></a></li>
                    </ul>
            </div>
            {% endif %}

        {% if object_list %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?search={{ search_query }}&check_in={{ check_in_date }}&check_out={{ check_out_date }}&adults={{ adults }}&page={{ page_obj.previous_page_number }}" class="btn">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?search={{ search_query }}&check_in={{ check_in_date }}&check_out={{ check_out_date }}&adults={{ adults }}&page={{ page_obj.next_page_number }}" class="btn">Next</a>
        {% else %}
            <a href="?search={{ search_query }}&check_in={{ check_in_date }}&check_out={{ check_out_date }}&adults={{ adults }}&page=1" class="btn">First</a>
        {% endif %}
    </span>
</div>
        {% endif %}
    </div>
</body>
{% endblock %}
