{% extends 'base.html' %}
{% load hotels_tags %}
{% load static %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/index_with_profile.css' %}" />

{% endblock %}

{% block index_content %}

  <div class="custom-searchbar">
    <form action="{% url 'index_user' %}" method="get">
        <div class="search-field">
            <input type="text" id="search_name" name="search" placeholder="Enter a destination...">
        </div>
        <div class="search-field">
            <input type="date" id="check_in" name="check_in" placeholder="Check-in">
        </div>
        <div class="search-field">
            <input type="date" id="check_out" name="check_out" placeholder="Check-out">
        </div>
        <div class="search-field">
            <select id="adults" name="adults">
                <option value="1">1 Person</option>
                <option value="2">2 People</option>
                <option value="3">3 People</option>
                <option value="4">4 People</option>
                <option value="5">5 People</option>
            </select>
        </div>
        <div class="search-field">
            <button type="submit">Search</button>
        </div>
    </form>
</div>

        <div class="col-md-8 col-md-offset-2 scrollable-content">
            {# TODO: make all hotel details #}
            {% for hotel in object_list %}
                <div class="offer">
                    <div class="offer-img">
                        <img src="{{ hotel.hotel_picture }}" alt="Hotel Image">
                    </div>
                    {# TODO: hotel rating and hotel AV price #}
                    <div class="offer-details">
                        <h2>{{ hotel.hotel_name }}</h2>
                        <p>{{ hotel.description }}</p>
                        {%  if hotel|min_price %}
                        <p>Price: From {{ hotel|min_price }} BGN to {{ hotel|max_price }} BGN</p>
                        {% else %}
                        <p>Price: Not avaiable </p>
                        {% endif %}
                        <p>Location: {{ hotel.city }}, {{ hotel.location }}</p>
                        <p>Rating: 7.5</p>
                        <button class="details-button">
                            <a href="{% url 'details_hotel' pk=hotel.pk %}?search={{ search_query }}&check_in={{ check_in_date }}&check_out={{ check_out_date }}&adults={{ adults }}" style="color: inherit; text-decoration: none;">Details</a>
                        </button>
                    </div>
                </div>

                <!-- Add more offers here as needed -->
            {% empty %}

                <h1>No Hotels available</h1>
            {% endfor %}
        </div>


<script>
const today = new Date().toISOString().split('T')[0]; // Get today's date in the correct format
const tomorrow = new Date(new Date().getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0]; // Get tomorrow's date

document.getElementById('check_in').setAttribute('min', today); // Set min attribute of check_in input to today
document.getElementById('check_out').setAttribute('min', tomorrow); // Set min attribute of check_out input to tomorrow

flatpickr('#check_in', {
    dateFormat: "Y-m-d",
    minDate: today, // Set minDate of check_in input to today
    disable: [
        function(date) {
            // Disable all dates before today
            return date < new Date();
        }
    ]
});

flatpickr('#check_out', {
    dateFormat: "Y-m-d",
    minDate: tomorrow, // Set minDate of check_out input to tomorrow
    disable: [
        function(date) {
            // Disable all dates before tomorrow
            return date < new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
        }
    ]
});

</script>
{% endblock %}
