{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/index_with_profile.css' %}" />

{% endblock %}
{% block index_content %}

        <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2 scrollable-content">
        {# TODO: make all hotel details #}
                {% for hotel in object_list %}
                <div class="offer">
                    <div class="offer-img">
                        <img src="{{ hotel.hotel_picture }}" alt="Hotel Image">
                    </div>
{#                    TODO: hotel rating and hotel AV price #}

                    <div class="offer-details">
                        <h2>{{ hotel.hotel_name }}</h2>
                        <p>{{ hotel.description }}</p>
                        <p>Price: $XXX.XX</p>
                        <p>Location: {{ hotel.city }}, {{ hotel.location }}</p>
                        <p>Rating: 7.5</p>
                        <button class="details-button">Details</button>
                    </div>
                </div>

                <!-- Add more offers here as needed -->
            {% endfor %}
            </div>


        </div>
    </div>



{% endblock %}
