{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/profile_details.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block index_content %}


<body>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Booking History</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="{% url 'delete_profile' pk=object.user.pk %}"><i class="fa fa-fw fa-th mr-1"></i><span>Delete Profile</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="{% url 'password_change' pk=object.user.pk %}" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Change Password</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="e-profile">
                    <div class="profile-info">
                        <div>
                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ object.full_name }}</h4>
                            <p class="mb-0">{{ object.user.email }}</p>
                            <div class="text-muted"><small>Last login:{{ object.user.last_login }}</small></div>
                        </div>
                        <div>
                            <span class="badge badge-secondary">{% if object.user.is_superuser %}
                            administrator
                            {% elif object.user.is_staff %}
                            staff user
                            {% else %}
                            user
                            {% endif %}
                            </span>
                            <div class="text-muted"><small>{{ object.user.date_joined }}</small></div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                    </ul>
                    <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" novalidate="" action="{% url 'profile_details' pk=object.user.pk %}" method="post">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    {{ form.as_p }}
                                                    {% csrf_token %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}