{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block extra_css %}#}
{#    <link type="text/css" rel="stylesheet" href="{% static 'css/profile_details.css' %}" />#}
{#{% endblock %}#}
{#{% block index_content %}#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-12 col-md-8 offset-md-2">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Change Password</h5>#}
{#                    <form class="form" novalidate="" action="{% url 'password_change' pk=request.user.pk %}" method="post">#}
{#                       {{ form.as_p }}#}
{#                        {% csrf_token %}#}
{#                        <button class="btn btn-primary" type="submit">Change Password</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#{% endblock %}#}

{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/profile_details.css' %}" />
{% endblock %}
{% block index_content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form class="form" novalidate="" action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}