{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/index_with_profile.css'%}" />

{% endblock %}
{% block index_content %}

        <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2 scrollable-content">
        {# TODO: make all hotel details #}
                {% for _ in '123456' %}
                <div class="offer">
                    <div class="offer-img">
                        <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg" alt="Hotel Image">
                    </div>
                    <div class="offer-details">
                        <h2>Hotel Name</h2>
                        <p>Description of the hotel goes here.</p>
                        <p>Price: $XXX.XX</p>
                        <p>Location: City, Country</p>
                        <p>Rating: 7.5</p>
                        <button class="details-button">Details</button>
                    </div>
                </div>

                <!-- Add more offers here as needed -->
            {% endfor %}
            </div>


        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}
