body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Increase margin from top */
    margin-bottom: 50px; /* Increase margin from bottom */
    position: relative;
}

.form-container {
    padding: 30px;
}

.form-control {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.e-navlist {
    margin-top: 20px;
    background-color: #4CAF50;
    overflow: hidden;
    border-radius: 5px;
}

.e-navlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.e-navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.e-navlist li a:hover {
    background-color: #45a049;
}

.e-navlist li.active {
    background-color: #45a049;
}

select {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style date fields */
input[type="date"] {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style button */
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

