.footer {
    background-color: #1e62d8;
    color: #fff;
    padding: 10px 0; /* Reduced padding */
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Ensure footer is above other content */
    transition: transform 0.3s ease-out; /* Add transition effect */
    transform: translateY(100%); /* Initially hide the footer */
    height: 60px; /* Adjust the height as needed */
}

.footer.show {
    transform: translateY(0); /* Show footer */
}

.footer p {
    margin: 0; /* Remove default margin */
}

/* Media Query for Adjusting Styles on Smaller Screens */
@media (max-width: 767px) {
    .footer-nav {
        display: block;
        text-align: center;
    }

    .footer-nav li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
}