body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 80px 0; /* Adjust top and bottom padding */
    background-color: #fafafa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.card {
    background-color: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info .badge {
    background-color: #1e62d8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: calc(100% - 20px); /* Adjusted width to accommodate padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#id_date_of_birth {
    width: calc(100% - 500px); /* Adjusted width for date picker */
}

.custom-control-label {
    padding-left: 5px;
}

.btn-primary {
    background-color: #1e62d8;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #13549d;
}


